body{
    margin: 0;
    background-image: url("https://images.alphacoders.com/545/thumb-1920-545755.jpg");
}

header{
     background-color: rgba(165, 223, 223, 0.884);
     position: sticky;
}

nav ul{
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}


.selected{
    font-weight: bold;
    border-bottom: solid black;
}

nav li:hover{
    background-color: rgba(96, 194, 194, 0.884);
}

.container{
    width: 100%;
    display: flex;
    padding-top: 5rem;
    justify-content: center;

}

form{
    width: 40%;
    border-radius: 5px;
    border: 3px solid  rgba(96, 194, 194, 0.884);
    padding: 10px;
}

.campo{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.campo1{
    padding: 10px;
}

.campo2{
    display: flex;
    justify-content: center;
}

.botonRegistro{

    background-color:rgba(96, 194, 194, 0.884) ;
    border:1px solid rgba(96, 194, 194, 0.884) ;

    
}